{
    "printWidth": 120,
    "tabWidth": 2,
    "semi": true,
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "arrowParents": "always",
    "trailingComma": "none"
}